# GeMM Zosterops: Taita Hills study
# This config file was generated automatically by `phylogenystudy.py`.
# Fri Oct 28 16:55:33 2022

dest results/phylo_test
seed 2
maps maptest.map
outfreq 1000
fastaoutfreq 10000
logging true
debug true
stats true
lineages true
fasta all
raw false
dumpindforfasta true
linkage none
nniches 2
static false
mutate true
phylconstr 0.1
mutationrate 2.5e9
usebiggenes true
compressgenes false
indsize adult
capgrowth true
degpleiotropy 0
mode zosterops
tolerance 0.3
perfecttol 10.0
bodytemp 313.0
cellsize 8
fertility 2
dispmean 20
dispshape 2
dispfactor 20
dispmortality true
maxrepsize 2.5
minrepsize 2.3
maxtemp 303
mintemp 283
mortalitytype habitat
mortality 0.125
heterozygosity true
species [Dict("lineage"=>"archetype","precopt"=>10,"prectol"=>10,"tempopt"=>293,"temptol"=>2)]
traitnames ["compat","dispmean","dispshape","numpollen","precopt","prectol","repsize","seqsimilarity","seedsize","tempopt","temptol"]
traitsforecospec ["dispmean","dispshape","precopt","prectol"]
speciation ecological
