# Standard configuration file for Zosterops scenarios
# Daniel Vedder, 23/10/2020

# input/output settings
seed     2 #0 #random seed
maps     taita_hills_test.map #TODO change after debugging
dest     results/taita_test
outfreq  10 #TODO change after debugging
logging  true
debug    true
stats    true
lineages true
fasta    off
raw      false

# general model parameters
linkage       none
nniches       2
static        false
mutate        false	# false for habitat fragmentation, true for phylogenetic study
phylconstr    0.1   # TODO choose a sensible value
usebiggenes   false
compressgenes false
indsize       adult
capgrowth     true
degpleiotropy 0
		
# Zosterops-specific parameters
mode           zosterops
tolerance      0.1  # probability of females choosing a non-conspecific mate
speciation     off  # off for habitat fragmentation, neutral/ecological for phylogenetic study
cellsize       8    # average number of birds/ha (range: 4-16; Mulwa et al. 2007)
fertility      2    # average number of young per clutch (Jetz et al. 2008; Jan Engler, pers. comm.)
dispmean       18   # mean dispersal distance of juveniles (Luc Lens, pers. comm.)
dispshape      2    # dispersal kernel shape parameter       ##TODO verify
maxrepsize     2.5  # exp(maxrepsize): max reproductive size in grams -> ca. 12g (Lens, pers. comm.)
minrepsize     2.3  # exp(minrepsize): min reproductive size in grams -> ca. 10g (Lens, pers. comm.)
maxseedsize    2.0  # exp(maxseedsize): max birth size in grams -> ca. 4.5g (ensure seedsize < repsize)
minseedsize    1.5  # exp(minseedsize): min birth size in grams -> ca. 7.4g (ensure seedsize < repsize)
maxtemp        303  # maximum tolerated mean temperature -> 30°C
mintemp        283  # minimum tolerated mean temperature -> 10°C
heterozygosity true # keep track of population heterozygosity

# Zosterops species trait definitions (cf. Pellikka et al. 2018)
#TODO adjust AGC values
species [Dict("lineage"=>"silvanus","precopt"=>180,"prectol"=>90,"tempopt"=>293,"temptol"=>2),\
		 Dict("lineage"=>"jubaensis","precopt"=>50,"prectol"=>47,"tempopt"=>293,"temptol"=>2)]
traitnames ["compat","dispmean","dispshape","numpollen",\
			"precopt","prectol","repsize","seqsimilarity",\
			"seedsize","tempopt","temptol"]